<html>
    <head>
        <title>Cryptocurrency Data</title>
    
        <style>
            /* Add styles for the  table */
            .table {
                width: 100%;
                border-collapse: collapse;
            }

            .table th, .table td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            .table th {
                background-color: #f2f2f2;
            }

            #filter-options label {
                margin-right: 10px;
            }

        </style>
    </head>
    <body>
        <div>
            
            <h1>Cryptocurrency Data</h1>

            <div style="display: flex; width: 100%; flex-direction: row-reverse;">
                <!-- Filter options -->
                <div id="filter-options" >
                    <label for="filter-value">Filter by Name:</label>
                    <input type="text" id="filter-value">
                    <button onclick="applyFilters();">Apply Filters</button>
                </div>
                <!-- Sorting options -->
                <div id="sorting-options" style="padding-right: 10px;">
                    <label for="sort-by">Sort by:</label>
                    <select name="sort-by" id="sort-by">
                        <option value="name">Name</option>
                        <option value="date_updated">Updated</option>
                        <option value="trading_pairs">Trading Pairs</option>
                    </select>
                    <button onclick="applySorting();">Apply Sorting</button>
                </div>
            </div>
            <br>
            <!-- Table to display  data -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Percent Total Volume</th>
                        <th>Volume USD</th>
                        <th>Trading Pairs</th>
                        <th>Exchange URL</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>  
                        <td> {{item.name}} </td>
                        <td> {{item.percent_total_volume}} </td>
                        <td> {{item.volume_usd}} </td>
                        <td> {{item.trading_pairs}} </td>
                        <td> {{item.exchange_url}} </td>
                        <td> {{item.date_updated}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
        </div>
        <script>
            // DOM fully loaded and parsed
            document.addEventListener("DOMContentLoaded", (event) => {
                // Get URL parameters from the URL
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);

                const action = urlParams.get('action')

                if (action) {
                    if (action == 'filter') {
                        // Get Filter params
                        const filter_by = urlParams.get('filter_by');
                        const filter_value = urlParams.get('filter_value');

                        // Set the filter value
                        document.getElementById("filter-value").value = filter_value;
                    }
                    if (action == 'sort') {
                        // Get Sort params
                        const sort_by = urlParams.get('sort_by');

                        // Set the sort by value
                        document.getElementById("sort-by").value = sort_by;
                    }
                }



            });

            function applyFilters(){
                // Get filter value
                const filter_value = document.getElementById("filter-value").value;

                // Load href with given params
                window.location.href = "/?action=filter&filter_by=name&filter_value=" + filter_value;
            }

            function applySorting(){
                // Get Sort order from the URL param
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const sort_order = urlParams.get('sort_order')

                // Get sort by column from select box
                const sort_by = document.getElementById("sort-by").value;

                // Load href with given params
                window.location.href = "/?action=sort&sort_by=" + sort_by + "&sort_order=" + (sort_order == 'asc' ? 'desc' : 'asc');
            }

        </script>
    </body>

</html>